/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* Переменные светлой темы */
  --accent-color: #ff8dcb;
  --hover: rgba(50 49 45 / 0.4);
  --background-color: #353430;
  --main-header-font-color: #ffc2e6;
  --p-font-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}
.theme-light .page {
  background-image: var(--background-image);
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --hover: rgba(50 49 45 / 0.4);
    --background-color: #353430;
    --main-header-font-color: #ffc2e6;
    --p-font-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
  
  .page {
    background-image: var(--background-image);
  }

  .decoration,
  .decoration::after {
    display: none;
  }

  .decorated-zone {
    position: relative;
  }

  .decorated-zone::before {
    content: "";
    position: absolute;
    top: var(--padding-border);
    right: 0px;
    border-top: 1px solid var(--p-font-color);
    border-right: 1px solid var(--p-font-color);
    width: 25px;
    height: 25px;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    bottom: var(--padding-border);
    left: 0px;
    border-bottom: 1px solid var(--p-font-color);
    border-left: 1px solid var(--p-font-color);
    width: 25px;
    height: 25px;
  }

  .section__title {
    color: var(--p-font-color);
  }

  .header__theme-menu-button {
    color: var(--p-font-color);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--background-color);
  }
}

.theme_light .decoration,
.theme_light .decoration::after {
  display: none;
}
.theme_light .decorated-zone {
  position: relative;
}

.theme_light .decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--padding-border);
  right: 0px;
  border-top: 1px solid var(--p-font-color);
  border-right: 1px solid var(--p-font-color);
  width: 25px;
  height: 25px;
}

.theme_light .decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--padding-border);
  left: 0px;
  border-bottom: 1px solid var(--p-font-color);
  border-left: 1px solid var(--p-font-color);
  width: 25px;
  height: 25px;
}

.theme_light .header__theme-menu-button {
  color: var(--p-font-color);
}

.theme_ligh .header__theme-menu-button_active {
  outline: 1px solid var(--p-font-color);
}

.theme_light .header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--p-font-color);
}

.theme_light .section__title {
  color: var(--p-font-color);
}

.theme_light .header__theme-menu-button_active {
  outline: 1px solid var(--background-color);
}
