/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* Переменные светлой темы */
  --accent-color: #ff8dcb;
  --hover: rgba(50 49 45 / 0.4);
  --background-color: #353430;
  --main-color: #fff1f7;
  --main-header-font-color: #ffc2e6;
  --p-font-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --decoration-color: #353430;
  --section__title: #353430;
  --menu-button: #353430;
}

.page.theme_light {
  --accent-color: #ff8dcb;
  --hover: rgba(50 49 45 / 0.4);
  --background-color: #353430;
  --main-color: #fff1f7;
  --main-header-font-color: #ffc2e6;
  --p-font-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --decoration-color: #353430;
  --section__title: #353430;
  --menu-button: #353430;
}

.theme-light .page {
  background-image: var(--background-image);
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --hover: rgba(50 49 45 / 0.4);
    --background-color: #353430;
    --main-color: #fff1f7;
    --main-header-font-color: #ffc2e6;
    --p-font-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --decoration-color: #353430;
    --section__title: #353430;
    --menu-button: #353430;
  }

  .page {
    background-image: var(--background-image);
  }

  .decoration,
  .decoration::after {
    display: none;
  }
}

.theme_light .decoration,
.theme_light .decoration::after {
  display: none;
}
