/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
  переменные темной темы
*/
:root {
  --accent-color: #FF0070;
  --hover: rgba(255 0 112 / 0.4);
  --background-color: #000028;
  --main-color:#000028;
  --main-header-font-color:#DB00FF;
  --p-font-color: #F1B2CE;
  --background-image: url(../images/cover-image-dark.png);
  --padding-border: 10px;
}